<ion-header>
	<ion-toolbar>
		<ion-title>randomactivity</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-item>
		<ion-card>
			<ion-card-title>{{ activity?.type | uppercase }}</ion-card-title>
			<ion-card-header>{{ activity?.activity }}</ion-card-header>
			<ion-card-content>
				<ion-list>
					<ion-item>Participants: {{ activity?.participants }}</ion-item>
					<ion-item>Cost: ${{ activity?.price }}</ion-item>
					<ion-item>Difficulty: {{ activity?.accessibility * 100 }}%</ion-item>
				</ion-list>
			</ion-card-content>
		</ion-card>
	</ion-item>
</ion-content>
